In [ ]:
#Import Library

In [ ]:
import pandas as pd

In [ ]:
#Pre Data Cleaning :
"""Before starting the cleaning process, I removed irrelevant or unnecessary columns (including some completely empty columns) 
from each table using Excel to simplify analysis."""

In [ ]:
#Basic Data Cleaning(Data Wrangling):

In [109]:
def wrangle(filepath):
    data=pd.read_excel(filepath)
    print(data.head())
    'data info'
    data.info()
    "checking null values in data"
    print(data.isnull().sum())
    "check duplicate values"
    print(data.duplicated().value_counts())

In [ ]:
DataList=["SalesOrderHeader.xlsx","SalesOrderDetail.xlsx","Product.xlsx","ProductCategory.xlsx",
       "ProductSubcategory.xlsx","Customer.xlsx","SalesTerritory.xlsx"]
for i in DataList:
    l=wrangle(i)

In [ ]:
##Data Overview and Observations:

All column names are properly formatted.
Each table contains unique rows with no duplicates.

#SalesOrderHeader: 
has 31465 rows and 5 columns.
PurchaseOrderNumber    27659 null values
SalesPersonID          27659 null values
drop these 2 columns due to excessive nulls.
drop status column (only 1 unique value)
Convert SalesOrderID dtype from 'datetime' to 'object'.
SubTotal and TotalDue have no negative values.

#SalesOrderDetail: 
has 121317  rows and 8 columns.
Convert SalesOrderID dtype  from 'datetime'to 'object'.
UnitPrice,LineTotal,UnitPriceDiscount have no negative values.
    
#Product:
has 509 entries and 9 columns.
Color     248 null values (replace with "unknown" ).
ProductSubcategoryID    209 null values (replace with 0) + convert dtype from "float" to 'int'.
StandardCost and ListPrice have no negative values.

#ProductCategory 
has 4 entries and 2 columns.

#ProductSubcategory
has 37 entries and 3 colimns.

#Customer:
has 19820 and 4 columns.
PersonID 701 null values 
StoreID 18484 null values (90% values missing); drop this column.

#Territory
has 10 entries and 4 columns.

In [112]:
#Data Cleaning: SalesOrderHeader Table

Data Cleaning: Customer Table

In [180]:
"import dataset"
data=pd.read_excel("SalesOrderHeader.xlsx")
'remove unnecessary columns "status" ," PurchaseOrderNumber","SalesPersonID "'
data.drop(columns=['SalesPersonID','Status','PurchaseOrderNumber'],axis=0,inplace=True)
'Convert "SalesOrderID" to Object'
data['SalesOrderID']=data['SalesOrderID'].astype(object)
"check Time Duration"
print(data['OrderDate'].min(),
data['OrderDate'].max()) 
"OrderDate has order records May 2011 to June 2014"
print(data)

2011-05-31 00:00:00 2014-06-30 00:00:00
              SalesOrderID  OrderDate    DueDate   ShipDate  OnlineOrderFlag  \
0      2019-07-13 00:00:00 2011-05-31 2011-06-12 2011-06-07                0
1      2019-07-14 00:00:00 2011-05-31 2011-06-12 2011-06-07                0
2      2019-07-15 00:00:00 2011-05-31 2011-06-12 2011-06-07                0
3      2019-07-16 00:00:00 2011-05-31 2011-06-12 2011-06-07                0
4      2019-07-17 00:00:00 2011-05-31 2011-06-12 2011-06-07                0
...                    ...        ...        ...        ...              ...
31460  2105-08-31 00:00:00 2014-06-30 2014-07-12 2014-07-07                1
31461  2105-09-01 00:00:00 2014-06-30 2014-07-12 2014-07-07                1
31462  2105-09-02 00:00:00 2014-06-30 2014-07-12 2014-07-07                1
31463  2105-09-03 00:00:00 2014-06-30 2014-07-12 2014-07-07                1
31464  2105-09-04 00:00:00 2014-06-30 2014-07-12 2014-07-07                1

       CustomerID  TerritoryID  ShipMethodID    SubTotal     TaxAmt  \
0           29825            5             5  20565.6206  1971.5149
1           29672            5             5   1294.2529   124.2483
2           29734            6             5  32726.4786  3153.7696
3           29994            6             5  28832.5289  2775.1646
4           29565            4             5    419.4589    40.2681
...           ...          ...           ...         ...        ...
31460       11981            1             1     42.2800     3.3824
31461       18749            6             1     84.9600     6.7968
31462       15251            6             1     74.9800     5.9984
31463       15868            6             1     30.9700     2.4776
31464       18759            6             1    189.9700    15.1976

       ShippingCost    TotalDue
0          616.0984  23153.2339
1           38.8276   1457.3288
2          985.5530  36865.8012
3          867.2389  32474.9324
4           12.5838    472.3108
...             ...         ...
31460        1.0570     46.7194
31461        2.1240     93.8808
31462        1.8745     82.8529
31463        0.7743     34.2219
31464        4.7493    209.9169

[31465 rows x 12 columns]

In [242]:
#Save Dataset
data.to_csv('SalesOrderHeader.csv',index=True,encoding="utf-8")

In [173]:
#Data Cleaning: SalesOrderDetail Table

In [200]:
"import dataset"
Data_Order_Detail=pd.read_excel("SalesOrderDetail.xlsx")
#print(data)
'Convert dtype "SalesOrderID"'
Data_Order_Detail['SalesOrderID'].astype(object)

0         2019-07-13 00:00:00
1         2019-07-13 00:00:00
2         2019-07-13 00:00:00
3         2019-07-13 00:00:00
4         2019-07-13 00:00:00
                 ...
121312    2105-09-03 00:00:00
121313    2105-09-03 00:00:00
121314    2105-09-04 00:00:00
121315    2105-09-04 00:00:00
121316    2105-09-04 00:00:00
Name: SalesOrderID, Length: 121317, dtype: object

In [241]:
#save Dataset
data.to_csv('SalesOrderDetail1.csv',index=False,encoding="utf-8")

In [ ]:
#Data Cleaning: Product Table

In [213]:
#import dataset
Data_Product=pd.read_excel("Product.xlsx")
print(Data_Product)
##check 'StandardCost' and 'ListPrice' data Validation
print(Data_Product['StandardCost'].min(),
      Data_Product['StandardCost'].max(),
      Data_Product['ListPrice'].min(),
      Data_Product['ListPrice'].max()
     )
"""StandardCost values 0.0 2171.2942 
ListPrice values 0.0 3578.27"""
# Fill 'Nan' Values 
Data_Product['Color']=Data_Product['Color'].fillna('Unknown')
Data_Product['ProductSubcategoryID']=Data_Product['ProductSubcategoryID'].fillna(0).astype(int)
print(Data_Product.info())

     ProductID                   Name ProductNumber  FinishedGoodsFlag  Color  \
0            1        Adjustable Race       AR-5381                  0    NaN
1            2           Bearing Ball       BA-8327                  0    NaN
2            3        BB Ball Bearing       BE-2349                  0    NaN
3            4  Headset Ball Bearings       BE-2908                  0    NaN
4          316                  Blade       BL-2036                  0    NaN
..         ...                    ...           ...                ...    ...
499        995      ML Bottom Bracket       BB-8107                  1    NaN
500        996      HL Bottom Bracket       BB-9108                  1    NaN
501        997     Road-750 Black, 44    BK-R19B-44                  1  Black
502        998     Road-750 Black, 48    BK-R19B-48                  1  Black
503        999     Road-750 Black, 52    BK-R19B-52                  1  Black

     StandardCost  ListPrice  DaysToManufacture  ProductSubcategoryID
0          0.0000       0.00                  0                   NaN
1          0.0000       0.00                  0                   NaN
2          0.0000       0.00                  1                   NaN
3          0.0000       0.00                  0                   NaN
4          0.0000       0.00                  1                   NaN
..            ...        ...                ...                   ...
499       44.9506     101.24                  1                   5.0
500       53.9416     121.49                  1                   5.0
501      343.6496     539.99                  4                   2.0
502      343.6496     539.99                  4                   2.0
503      343.6496     539.99                  4                   2.0

[504 rows x 9 columns]
0.0 2171.2942 0.0 3578.27
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ProductID             504 non-null    int64
 1   Name                  504 non-null    object
 2   ProductNumber         504 non-null    object
 3   FinishedGoodsFlag     504 non-null    int64
 4   Color                 504 non-null    object
 5   StandardCost          504 non-null    float64
 6   ListPrice             504 non-null    float64
 7   DaysToManufacture     504 non-null    int64
 8   ProductSubcategoryID  504 non-null    int64
dtypes: float64(2), int64(4), object(3)
memory usage: 35.6+ KB
None

In [240]:
#save dataset
Data_Product.to_csv('Product1.csv',index=False,encoding="utf-8")

In [228]:
#Data Cleaning: Customer Table

In [233]:
'import dataset'
customer=pd.read_excel('Customer.xlsx')
print(customer.head())
"drop StoreID column"
customer.drop(columns='StoreID',inplace=True)

   CustomerID  PersonID  StoreID  TerritoryID
0           1       NaN    934.0            1
1           2       NaN   1028.0            1
2           3       NaN    642.0            4
3           4       NaN    932.0            4
4           5       NaN   1026.0            4

In [246]:
#save dataset
customer.to_csv('Customer1.csv',index=False,encoding="utf-8")

In [245]:
#ProductCategory Table
'import dataset'
Data_Category=pd.read_excel("ProductCategory.xlsx")
print(Data_Category)
Data_Category.to_csv("ProductCategory2.csv",index=False,encoding="utf-8")

   ProductCategoryID         Name
0                  1        Bikes
1                  2   Components
2                  3     Clothing
3                  4  Accessories

In [244]:
#ProductSubcategory Table
Data_Subcategory=pd.read_excel("ProductSubcategory.xlsx")
print(Data_Subcategory)
Data_Subcategory.to_csv("ProductSubcategory1.csv",index=False,encoding="utf-8")

    ProductSubcategoryID               Name  ProductCategoryID
0                      1     Mountain Bikes                  1
1                      2         Road Bikes                  1
2                      3      Touring Bikes                  1
3                      4         Handlebars                  2
4                      5    Bottom Brackets                  2
5                      6             Brakes                  2
6                      7             Chains                  2
7                      8          Cranksets                  2
8                      9        Derailleurs                  2
9                     10              Forks                  2
10                    11           Headsets                  2
11                    12    Mountain Frames                  2
12                    13             Pedals                  2
13                    14        Road Frames                  2
14                    15            Saddles                  2
15                    16     Touring Frames                  2
16                    17             Wheels                  2
17                    18         Bib-Shorts                  3
18                    19               Caps                  3
19                    20             Gloves                  3
20                    21            Jerseys                  3
21                    22             Shorts                  3
22                    23              Socks                  3
23                    24             Tights                  3
24                    25              Vests                  3
25                    26         Bike Racks                  4
26                    27        Bike Stands                  4
27                    28  Bottles and Cages                  4
28                    29           Cleaners                  4
29                    30            Fenders                  4
30                    31            Helmets                  4
31                    32    Hydration Packs                  4
32                    33             Lights                  4
33                    34              Locks                  4
34                    35           Panniers                  4
35                    36              Pumps                  4
36                    37    Tires and Tubes                  4

In [237]:
#Territory Table
'import dataset'
data_territory=pd.read_excel("SalesTerritory.xlsx")
print(data_territory.head())
#save dataset to 'csv'
data_territory.to_csv('SalesTerritory2.csv',index=False,encoding="utf-8")

   TerritoryID       Name Country          Group
0            1  Northwest      US  North America
1            2  Northeast      US  North America
2            3    Central      US  North America
3            4  Southwest      US  North America
4            5  Southeast      US  North America